/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}
/* GENERAL */


/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    background-color: #1358B4;
    color: white;
    position: relative;
    z-index: 1000;
}

.logo img {
    max-height: 80px;
    margin-top: 10px;
}

nav {
    margin-top: 30px;
}

.nav-links,
.nav-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.nav-links li {
    list-style: none;
    margin: 0 15px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    position: relative;
    transition: color 0.3s ease, background-color 0.3s ease;
    background-color: transparent;
    border-radius: 15px;
}

.nav-links li a:hover {
    color: #1358B4;
    background-color: white;
}

.nav-icons {
    display: none;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1358B4;
    padding: 15px 0;
}

.nav-icons li {
    list-style: none;
}

.nav-icons li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 8px 8px;
    position: relative;
    transition: color 0.3s ease, background-color 0.3s ease;
    background-color: transparent;
    border-radius: 20px;
}

.nav-icons li a:hover {
    color: #1358B4;
    background-color: white;
}

@media (max-width: 768px) {
    header {
        padding: 10px 10px;
    }

    .logo img {
        max-height: 45px;
        margin-top: 10px;
    }

    nav {
        margin-top: 10px;
    }

    .nav-links {
        display: none;
    }

    .nav-icons {
        display: flex;
    }
}
/* HEADER */


/* RESEÑAS */
.max-w-lg {
    max-width: 100%;
    margin: auto;
    padding: 1.5rem;
    text-align: center; 
    background-color: #1358B4;
}
img.rounded-full {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    margin: 20px auto; 
}
.text-muted-foreground {
    color: white; 
    font-size: 1rem; 
    text-align: center;
    max-width: 600px;
    margin: auto;
}
.font-semibold {
    font-weight: 600; 
    color: white; 
    text-align: center; 
}
.flex.items-center {
    justify-content: center; 
    margin-top: 0.5rem;
}
.flex.items-center span {
    font-size: 1.25rem; 
}
.text-yellow-400 {
    color: white; 
}
.text-zinc-300 {
    color: gray; 
}
.ml-4 {
    margin-left: 0; 
}
.mb-4 {
    margin-bottom: 1rem;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mt-4 {
    margin-top: 1rem;
}
/* RESEÑAS */

/* SECCIÓN INDEX 1 */
.sección-index {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.sección-index-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.sección-index-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(19, 89, 180, 0.932);
    z-index: 1;
}

.sección-index-content {
    position: relative;
    z-index: 3;
    color: white;
    max-width: 800px;
    padding: 20px;
}

.sección-index-h1 {
    margin: 0 0 20px 0;
    font-size: 2.5rem;
}

.sección-index-p {
    margin: 0 0 20px 0;
    font-size: 1.2rem;
}

.sección-index-btn {
    display: inline-block;
    padding: 12px 15px;
    background-color: transparent;
    color: #1358B4;
    background-color: white;
    text-decoration: none;
    border-radius: 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
    position: relative;
}

.sección-index-btn:hover {
    color: white;
    background-color: #1358B4;
}

@media (max-width: 768px) {
    .sección-index {
        height: auto;
        padding: 20px;
    }

    @media (max-width: 768px) {
        .sección-index-h1, .sección-index-2-h1 {
            font-size: 1.8rem; 
        }
        .sección-index-p, .sección-index-2-p {
            font-size: 1rem;
        }
    }

    .sección-index-p {
        font-size: 1rem;
    }

    .sección-index-btn {
        padding: 8px 10px;
        font-size: 1rem;
    }
}

@media (max-width: 425px) {
    .sección-index {
        height: auto;
        padding: 15px;
    }

    .sección-index-h1 {
        font-size: 1.8rem;
    }

    .sección-index-p {
        font-size: 0.9rem;
    }

    .sección-index-btn {
        padding: 7px 9px;
        font-size: 0.9rem;
    }
}

@media (max-width: 375px) {
    .sección-index {
        height: auto;
        padding: 10px;
    }

    .sección-index-h1 {
        font-size: 1.5rem;
    }

    .sección-index-p {
        font-size: 0.8rem;
    }

    .sección-index-btn {
        padding: 6px 8px;
        font-size: 0.8rem;
    }
}

@media (max-width: 320px) {
    .sección-index {
        height: auto;
        padding: 5px;
    }

    .sección-index-h1 {
        font-size: 1.2rem;
    }

    .sección-index-p {
        font-size: 0.7rem;
    }

    .sección-index-btn {
        padding: 5px 7px;
        font-size: 0.7rem;
    }
}
/* SECCIÓN INDEX 1 */
/* SECCIÓN INDEX 2 */
.sección-index-2 {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.sección-index-2-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(100%);
}

.sección-index-2-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.897);
    z-index: 2;
}

.sección-index-2-content {
    position: relative;
    z-index: 3;
    color: #1358B4;
    max-width: 800px;
    padding: 20px;
}

.sección-index-2-h1 {
    margin: 0 0 20px 0;
    font-size: 2.5rem;
}

.sección-index-2-p {
    margin: 0 0 20px 0;
    font-size: 1.2rem;
}

.sección-index-2-btn {
    display: inline-block;
    padding: 12px 15px;
    background-color: #1358B4;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
    position: relative;
}

.sección-index-2-btn:hover {
    color: #1358B4;
    background-color: white;
}

@media (max-width: 768px) {
    .sección-index-2 {
        height: auto;
        padding: 20px;
    }

    .sección-index-2-h1 {
        font-size: 2rem;
    }

    .sección-index-2-p {
        font-size: 1rem;
    }

    .sección-index-2-btn {
        padding: 8px 10px;
        font-size: 1rem;
    }
}

@media (max-width: 425px) {
    .sección-index-2 {
        height: auto;
        padding: 15px;
    }

    .sección-index-2-h1 {
        font-size: 1.8rem;
    }

    .sección-index-2-p {
        font-size: 0.9rem;
    }

    .sección-index-2-btn {
        padding: 7px 9px;
        font-size: 0.9rem;
    }
}

@media (max-width: 375px) {
    .sección-index-2 {
        height: auto;
        padding: 10px;
    }

    .sección-index-2-h1 {
        font-size: 1.5rem;
    }

    .sección-index-2-p {
        font-size: 0.8rem;
    }

    .sección-index-2-btn {
        padding: 6px 8px;
        font-size: 0.8rem;
    }
}

@media (max-width: 320px) {
    .sección-index-2 {
        height: auto;
        padding: 5px;
    }

    .sección-index-2-h1 {
        font-size: 1.2rem;
    }

    .sección-index-2-p {
        font-size: 0.7rem;
    }

    .sección-index-2-btn {
        padding: 5px 7px;
        font-size: 0.7rem;
    }
}
/* SECCIÓN INDEX 2 */


/* TITULOS */
.titulo-con-linea {
    text-align: center;
    margin-top: 50px;
}

.titulo {
    font-size: 32px;
    margin: 5px 0;
    color: #FFFFFF;
    background-color: #1358B4;
    padding: 20px;
}

@media (max-width: 1024px) {
    .titulo {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .titulo {
        font-size: 24px;
    }
}

@media (max-width: 425px) {
    .titulo {
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    .titulo {
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .titulo {
        font-size: 16px;
    }
}
/* TITULOS */


/* FILTROS */
.filter-container {
    display: flex;
    justify-content: space-between;
    color: #1358B4;
    width: 80%;
    margin: 50px auto;
}

.filter-container div {
    flex: 1;
    margin: 0 10px;
}

.filter-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.filter-container select {
    width: 100%;
    padding: 8px;
    border: 1px solid #1358B4;
    border-radius: 20px;
    font-size: 1rem;
}

@media (max-width: 1024px) {
    .filter-container {
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
    }
    
    .filter-container div {
        margin: 10px 0;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .filter-container {
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
    }
    
    .filter-container div {
        margin: 10px 0;
        width: 100%;
    }
}

@media (max-width: 425px) {
    .filter-container {
        flex-direction: column;
        align-items: flex-start;
        width: 95%;
    }
    
    .filter-container div {
        margin: 10px 0;
        width: 100%;
    }
}

@media (max-width: 375px) {
    .filter-container {
        flex-direction: column;
        align-items: flex-start;
        width: 95%;
    }
    
    .filter-container div {
        margin: 10px 0;
        width: 100%;
    }
}

@media (max-width: 320px) {
    .filter-container {
        flex-direction: column;
        align-items: flex-start;
        width: 95%;
    }
    
    .filter-container div {
        margin: 10px 0;
        width: 100%;
    }
}
/* FILTROS */


/* PSICOLOGOS DISPONIBLES */
#contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta {
    background-color: white;
    overflow: hidden;
    margin: 20px;
    width: 300px;
    text-align: center;
    position: relative;
    border: 1px solid #1358B4;
}

.cabecera-tarjeta {
    background-color: #1358B4;
    padding: 20px 20px;
    position: relative;
}

.foto-perfil {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid white;
}

.cuerpo-tarjeta {
    padding: 80px 15px 15px; 
}

.cuerpo-tarjeta h2 {
    margin: 10px 0; 
    color: #1358B4;
}

.cuerpo-tarjeta .detalles {
    margin: -10px 0;
}

.cuerpo-tarjeta .insignia {
    background-color: #1358B4;
    color: white;
    border-radius: 20px;
    padding: 3px 10px;
    margin: 3px;
    display: inline-block;
}

.cuerpo-tarjeta .especialidades {
    margin: 10px 0;
}

.cuerpo-tarjeta .especialidad {
    border: 2px solid #1358B4;
    color: #1358B4;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
    display: inline-block;
    font-weight: bold;
}

.cuerpo-tarjeta .iconos-sociales {
    margin: 10px 0;
}

.cuerpo-tarjeta .iconos-sociales a {
    margin: 0 8px;
    color: #1358B4;
    text-decoration: none;
    font-size: 20px;
}

.cuerpo-tarjeta .boton {
    background-color: transparent;
    color: #1358B4;
    border: 2px solid #1358B4;
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;
}

.cuerpo-tarjeta .boton:hover {
    color: white;
    background-color: #1358B4;
}

.arrow {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #1358B4;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 5000;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding: 20px;
    z-index: 5000;
}

.close-btn {
    background-color: #1358B4;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.close-btn:hover {
    background-color: white;
    color: #1358B4;
    border: solid 1px #1358B4;
}

.sidebar h3 {
    margin-bottom: 20px;
    color: #1358B4;
    justify-content: center;
    align-items: center;
    display: flex;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-info + .profile-button {
    margin-bottom: 30px; 
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-details {
    line-height: 1.2;
    color: #1358B4;
}

.profile-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #1358B4;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.profile-button:hover {
    background-color: white;
    color: #1358B4;
    border: solid 1px #1358B4;
}
/* PSICOLOGOS DISPONIBLES */


/* PERFILES */
.perfil-container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    padding: 20px;
}

.perfil-info {
    background-color: #1358B4;
    color: white;
    padding: 30px 20px;
    width: 40%;
    text-align: center;
}

.perfil-info h2 {
    margin: 10px 0;
    font-size: 2em;
}

.detalles-container {
    margin-bottom: 20px;
}

.detalles {
    background-color: white;
    color: #1358B4;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    width: calc(100% - 20px);
    font-weight: bold;
}

.detalles-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detalles-inline .detalles {
    width: calc(33% - 10px);
}

.redes-sociales {
    margin-top: 20px;
}

.redes-sociales a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
}

.redes-sociales a:hover {
    color: black;
}

.perfil-descripcion {
    background-color: white;
    padding: 30px 20px;
    width: 60%;
    border-radius: 0 10px 10px 0;
}

.perfil-descripcion h3 {
    background-color: #1358B4;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.8em;
}

.perfil-descripcion p, .perfil-descripcion ul {
    margin-bottom: 20px;
    font-size: 1em;
    line-height: 1.5;
}

.perfil-descripcion ul {
    list-style: none;
    padding: 0;
}

.perfil-descripcion ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.perfil-descripcion ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: #1358B4;
    border-radius: 50%;
}

.reservar-btn {
    background-color: white;
    color: #1358B4;
    padding: 10px 20px;
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reservar-btn:hover {
    background-color: #1358B4;
    border: solid 1px white;
    color: white;
}

@media (max-width: 1024px) {
    .perfil-info,
    .perfil-descripcion {
        width: 100%;
    }
    .detalles-inline .detalles {
        width: calc(50% - 10px);
    }
}

@media (max-width: 768px) {
    .perfil-info,
    .perfil-descripcion {
        width: 100%;
        padding: 20px;
        margin-top: 30px;
    }
    .detalles-inline .detalles {
        width: calc(50% - 10px);
    }
    .perfil-info h2 {
        font-size: 1.8em;
    }
    .perfil-descripcion h3 {
        font-size: 1.6em;
    }
}

@media (max-width: 425px) {
    .perfil-container {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
    }
    .perfil-info {
        padding: 15px;
        width: 100%;
    }
    .perfil-descripcion {
        padding: 15px;
        width: 100%;
    }
    .detalles-inline .detalles {
        width: 100%;
    }
    .redes-sociales a {
        font-size: 20px;
    }
    .perfil-info h2 {
        font-size: 1.5em;
    }
    .perfil-descripcion h3 {
        font-size: 1.4em;
    }
}

@media (max-width: 375px) {
    .perfil-info {
        padding: 10px;
    }
    .perfil-descripcion {
        padding: 10px;
    }
    .redes-sociales a {
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .perfil-info {
        padding: 8px;
    }
    .perfil-descripcion {
        padding: 8px;
    }
    .redes-sociales a {
        font-size: 16px;
        margin: 0 5px;
    }
    .perfil-info h2 {
        font-size: 1.2em;
    }
    .perfil-descripcion h3 {
        font-size: 1.2em;
    }
}
/* PERFILES */

/* COMENTARIOS */
.comment-box-section {
    max-width: 600px;
    width: 100%;
    margin: 50px auto;
    padding: 20px;
}

.comment-box-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #1358B4;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-input-group {
    position: relative;
    margin-bottom: 15px;
}

.comment-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #1358B4;
}

.comment-input, .comment-textarea {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #1358B4;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.comment-input:focus, .comment-textarea:focus {
    border-color: black;
}

.comment-textarea {
    height: 100px;
    resize: none;
}

.comment-submit {
    padding: 10px 15px;
    border: none;
    background-color: #1358B4;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comment-submit:hover {
    background-color: white;
    color: #1358B4;
    border: solid 1px #1358B4;
}

.comment-list {
    margin-top: 20px;
}

.comment-item {
    border-bottom: 1px solid #1358B4;
    padding: 15px 0;
    font-size: 16px;
    overflow-wrap: break-word; 
    word-wrap: break-word; 
}

.comment-item:last-child {
    border-bottom: none;
}

.comment-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-item strong {
    font-size: 18px;
    color: #1358B4;
}

.comment-item small {
    font-size: 14px;
    color: #1358B4;
}

.comment-item p {
    margin: 15px 0 0;
    color: black;
    white-space: pre-wrap; 
}

.comment-item i {
    color: #1358B4;
}
/* COMENTARIOS */

/* INVESTIGACIONES */
.investigaciones-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.investigacion-box {
    border: 1px solid #1358B4;
    background-color: white;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.investigacion-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.investigacion-content {
    text-align: left;
    width: 100%;
}

.titulo-investigacion {
    font-size: 1.5rem;
    color: #1358B4;
    margin-bottom: 10px;
}

.descripcion-investigacion {
    font-size: 1rem;
    color: black;
    margin-bottom: 20px;
}

.btn-descargar {
    display: inline-block;
    padding: 10px 15px;
    background-color: white;
    color: #1358B4;
    border: 2px solid #1358B4;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
}

.btn-descargar:hover {
    background-color: #1358B4;
    color: white;
}

@media (max-width: 768px) {
    .titulo {
        font-size: 1.8rem;
    }

    .titulo-investigacion {
        font-size: 1.3rem;
    }

    .descripcion-investigacion {
        font-size: 0.9rem;
    }

    .btn-descargar {
        padding: 8px 12px;
    }
}

@media (max-width: 425px) {
    .titulo {
        font-size: 1.6rem;
    }

    .titulo-investigacion {
        font-size: 1.2rem;
    }

    .descripcion-investigacion {
        font-size: 0.8rem;
    }

    .btn-descargar {
        padding: 7px 10px;
    }
}

@media (max-width: 375px) {
    .titulo {
        font-size: 1.4rem;
    }

    .titulo-investigacion {
        font-size: 1.1rem;
    }

    .descripcion-investigacion {
        font-size: 0.75rem;
    }

    .btn-descargar {
        padding: 6px 9px;
    }
}

@media (max-width: 320px) {
    .titulo {
        font-size: 1.2rem;
    }

    .titulo-investigacion {
        font-size: 1rem;
    }

    .descripcion-investigacion {
        font-size: 0.7rem;
    }

    .btn-descargar {
        padding: 5px 8px;
    }
}
/* INVESTIGACIONES */





































































































/* FOOTER */
footer {
    background-color: #1358B4;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 10;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.footer-nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-social {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.footer-social a {
    margin: 0 15px;
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
}

.footer-bottom {
    background-color: white;
    color: #1358B4;
    padding: 10px 20px;
    width: 100%;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

@media (max-width: 768px) {
    .footer-nav a {
        font-size: 12px;
        margin: 10px 5px;
    }
}

@media (max-width: 425px) {
    .footer-container {
        padding: 10px;
    }

    .footer-nav {
        flex-direction: column;
        align-items: center;
    }

    .footer-nav a {
        margin: 5px 0;
    }

    .footer-social a {
        font-size: 20px;
    }
}

@media (max-width: 320px) {
    .footer-nav a {
        font-size: 10px;
        margin: 5px 0;
    }

    .footer-social a {
        font-size: 18px;
    }
}
/* FOOTER */


/* NOTFOUND */
.container-404 {
    text-align: center;
    padding: 20px;
    background-color: #1358B4;
    color: white;
}
.container-404 h1 {
    margin-top: 100px;
    font-size: 5rem;
    margin-bottom: 20px;
}
.container-404 p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.container-404 a {
    display: inline-block;
    padding: 12px 20px;
    background-color: white;
    color: #1358B4;
    text-decoration: none;
    border-radius: 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
}
.container-404 a:hover {
    color: white;
    background-color: #1358B4;
}
@media (max-width: 768px) {
    .container-404 h1 {
        font-size: 3rem;
    }
    .container-404 p {
        font-size: 1rem;
    }
    .container-404 a {
        padding: 10px 15px;
        font-size: 1rem;
    }
}
@media (max-width: 425px) {
    .container-404 h1 {
        font-size: 2rem;
    }
    .container-404 p {
        font-size: 0.9rem;
    }
    .container-404 a {
        padding: 8px 12px;
        font-size: 0.9rem;
    }
}
@media (max-width: 320px) {
    .container-404 h1 {
        font-size: 1.5rem;
    }
    .container-404 p {
        font-size: 0.8rem;
    }
    .container-404 a {
        padding: 6px 10px;
        font-size: 0.8rem;
    }
}
/* NOTFOUND */

/* CARGAR PANTALLA */
#loading-indicator {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    color: #1358B4;
}

.loading-hidden {
    display: none;
}

@keyframes bounce {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.3);
        opacity: 0.5;
    }
}

#loading-indicator .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #1358B4;
    border-radius: 50%;
    animation: bounce 0.6s infinite;
}

#loading-indicator .dot:nth-child(1) {
    animation-delay: 0s;
}

#loading-indicator .dot:nth-child(2) {
    animation-delay: 0.2s;
}

#loading-indicator .dot:nth-child(3) {
    animation-delay: 0.4s;
}
/* CARGAR PANTALLA */

/* CARRUSEL DESTACADOS PSICOLOGOS */
.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
}

.carousel-track-container {
    overflow: hidden;
    width: 60%;
    margin: auto;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-track li {
    list-style-type: none;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    flex: 0 0 auto;
    min-width: calc(100% / 4); 
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1358B4;
    margin: 5px;
}

.profile-description {
    font-size: 1rem;
    color: black;
    margin-top: 5px;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.carousel-nav button {
    background-color: white;
    border: 2px solid #1358B4;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-nav .active {
    background-color: #1358B4;
}

@media (max-width: 1024px) {
    .carousel-track li {
        min-width: calc(100% / 3); 
    }
}

@media (max-width: 768px) {
    .carousel-track li {
        min-width: calc(100% / 2);
    }
    .profile-img {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 425px) {
    .carousel-track li {
        min-width: calc(100% / 1); 
    }
    .profile-img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 320px) {
    .carousel-container {
        padding: 5px;
    }
}
/* CARRUSEL DESTACADOS PSICOLOGOS */

/* TU HISTORIA */
.story-container {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.story-card {
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.story-header {
    background-color: #1358B4;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.story-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
    object-fit: cover;
    border: 2px solid white;
}

.story-info {
    flex: 1;
}

.story-status {
    font-size: 14px;
    color: white;
    margin: 5px auto;
}

.story-author {
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
}

.story-content {
    margin-bottom: 1rem;
    font-size: 1.05rem;
    color: black;
    white-space: pre-wrap;
    text-align: justify;
}

.story-button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #1358B4;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.story-button:hover {
    background-color: white;
    color: #1358B4;
    border: solid 1px #1358B4;
}
/* TU HISTORIA */